<!-- for displaying the toolbar in dashbaoard -->
<div fxLayout="column" fxLayoutAlign="end" fxFlex="100" class="main">
  <mat-toolbar class="mat-toolbar">
    <mat-toolbar-row fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="10px" class="12">
        <div fxFlex="50">
          <button mat-button (click)="sidenav.toggle()" class="mat-icon-button">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div fxFlex="50">
          <img mat-img src="https://ssl.gstatic.com/keep/keep.ico" />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="73" fxLayoutGap="4%">
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="73" fxLayoutGap="5%" class="13">
            <div class="name">
              <span class="title">{{header}}</span>
            </div>
            <div>
              <mat-card fxLayoutAlign="center center" class="searchInput">
                <button mat-icon-button class="searchButton">
                  <mat-icon>search</mat-icon>
                </button>
                <input mat-input class="searchInput" routerLink='/search' [(ngModel)]="searchContent" (keyup)="onKey()"
                  placeholder="Search">
                <button *ngIf="searchContent!=undefined" mat-icon-button class="search" (click)="searchc()">
                  <mat-icon>close</mat-icon>
                </button>
                <!-- ng-model="searchText" -->
                <!-- <app-all-notes [childMessage]="searchText"></app-all-notes> -->
              </mat-card>
            </div>
          </div>
        </div>
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="20" fxLayoutGap="7px" class="15">
            <div>
              <button mat-icon-button routerLink="/addNotes">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
            <div> <button mat-icon-button *ngIf="toggle==true" (click)="changeView()">
                <img src="../../../assets/list.svg">
              </button>
              <div> <button mat-icon-button *ngIf="toggle==false" (click)="changeView1()">
                  <img src="../../../assets/grid.svg">
                </button>
              </div>
            </div>
            <div>
              <button mat-icon-button (click)="mainCartOpen()">
                <mat-icon>shopping_cart</mat-icon>
              </button>
              <button fxFlex="100px" *ngIf="message1!=''" mat-flat-button (click)="mergeNotes()" color="accent"
                fxLayout="row" fxLayoutAlign="center center">Merge Notes </button>
            </div>
            <!-- <div> </div> -->
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
          <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu"
            [class.button-allign]="message1==''">
            <div mat-card-avatar
              [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover', 'height':'40px','width':'40px'}"
              class="img1"></div>
          </button>

        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>


  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="start start" class="scroll">
    <!-- Open the sidenav bar after click on menu button in the dashboard -->
    <div fxLayout="column" fxLayoutAlign="start" fxFlex="30">
      <mat-sidenav-container>
        <mat-sidenav fxLayout="column" fxFlex="100" #sidenav mode="side" class="sidenav">
          <div fxLayout="column" fxFlex="100" fxLayoutGap="10px">
            <div>
              <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100" class="20">
                <div>
                  <button mat-raised-button fxFlex="97" (click)="noteButton()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <mat-icon>lightbulb_outline</mat-icon>
                      <span> Note</span>
                    </div>
                  </button>
                </div>
                <div>
                  <button mat-raised-button fxFlex="97" (click)="reminder()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <mat-icon>notifications_none</mat-icon>
                      <span> Reminders</span>
                    </div>
                  </button>
                </div>
                <div>
                  <mat-divider></mat-divider>
                </div>
                <div fxLayout="row" fxLayoutAlign="start" fxFlex="80">
                  <span class="name">LABELS</span>
                </div>
              </div>
            </div>
            <div>
              <div fxLayout="column" fxLayoutAlign="start-between" fxFlex="100">
                <div>
                  <div *ngFor="let item of addLabels | orderOf">
                    <span><button mat-raised-button fxFlex="97" (click)="labelOpen(item)">
                        <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                          <div>
                            <mat-icon> <img src="../../../assets/outline-label-24px.svg"></mat-icon>
                          </div>
                          <div style="margin:25%">{{item.label}}</div>
                        </div>
                      </button>
                    </span>
                  </div>
                </div>
                <div>
                  <button mat-raised-button fxFlex="97" (click)="dialogOpen()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <img src="../../../assets/outline-create-24px.svg">
                      <span style="margin:25%">edit label</span>
                    </div>
                  </button>
                </div>
                <mat-divider></mat-divider>
                <div>
                  <mat-divider class="divider"></mat-divider>
                  <button mat-raised-button fxFlex="97" (click)="archive()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="100">
                      <img src="../../../assets/archive.svg">
                      <span style="margin:27%">Archive</span>
                    </div>
                  </button>
                </div>
                <div>
                  <button mat-raised-button fxFlex="97" (click)="trash()">
                    <div fxLayout="row" fxLayoutGap="30px" fxFlex="97">
                      <img src="../../../assets/menuTrash.svg">
                      <span style="margin:30%">Trash</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-sidenav>
        <mat-sidenav-content class="content">
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
  <mat-menu class="menu" #menu="matMenu">
    <div>
      <mat-card-header>
        <div mat-card-avatar
          [ngStyle]="{'background-image': 'url('+img+')','background-size':'cover', 'height':'60px','width':'60px'}"
          class="img2" (click)=image.click()>
        </div>
        <mat-card-title class="text_color">&nbsp;{{firstName}} {{lastName}}</mat-card-title>
        <mat-card-subtitle>{{email}}</mat-card-subtitle>
      </mat-card-header><br>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="end">
        <input type="file" class="fileSelect" (change)=profileImage($event) #image>
        <button mat-flat-button class="color" routerLink="/login" (click)="onSignout()">Sign out</button>
      </div>
    </div>
  </mat-menu>
</div>

<div fxLayout="column" fxLayoutAlign="start end" fxFlex="100" *ngIf="isMerge==true && message1!=''">
  <mat-card class="menu">
    <div fxLayout="row" fxLayoutAlign="start">
      {{message1.length}} Note Merging
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutAlign="start">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          <!-- <div> -->
          <mat-form-field>
            <mat-label>select title</mat-label>
            <mat-select [(value)]="addNotes.title">
              <mat-option *ngFor="let item of message1" [value]="item.title">
                {{item.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
        </mat-grid-tile>
        <!-- </mat-grid-tile> -->
        <mat-grid-tile>
          <!-- <div> -->
          <mat-form-field>
            <mat-label>select description</mat-label>
            <mat-select [(value)]="addNotes.description">
              <mat-option *ngFor="let item1 of message1" [value]="item1.description">
                {{item1.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- </div> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>select label</mat-label>
            <mat-select [(value)]="selectedLabel">
              <mat-option *ngFor="let item2 of message1" [value]="item2?.noteLabels[0]?.label">
                {{item2?.noteLabels[0]?.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>select color</mat-label>
            <mat-select [(value)]="addNotes.color">
              <mat-option *ngFor="let item3 of message1" [value]="item3.color" style="background-color: '#item3.color'">
                {{item3.color}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>pin/unpin</mat-label>
            <mat-select [(value)]="addNotes.isPined">
              <mat-option [value]="true">
                pin
              </mat-option>
              <mat-option [value]="false">
                unPin
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div fxLayout="row">
        <button mat-flat-button (click)="cancel()">Cancel</button>
        <button mat-flat-button (click)="createNote()">Create Note</button>
      </div>
    </div>
  </mat-card>
</div>