<div fxFlex="100" fxLayoutAlign="center center" fxLayout.xs="column" fxLayoutGap="20px" style="height:100vh">
  <mat-card fxFlex.lg="35" fxFlex.md="40" fxFlex.sm="90" class="center1">
    <div fxLayoutAlign="center" class="header">
      <mat-card-header>
        <mat-card-title>FundooNotes</mat-card-title>
      </mat-card-header>
    </div>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="25" fxLayoutAlign="center" class="subtitle1"> Please choose the new Password</div>

        <div fxLayout="column" fxflex="50" fxLayoutAlign="center center">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>New password</mat-label>
              <mat-error *ngIf="password.invalid">{{passwordError()}}</mat-error>
              <input matInput  [formControl]="password">
            </mat-form-field>
          </div>
        
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end">
        <div>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="submit()" class="button">change password </button>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>