.outline{
outline:none;
border: transparent;
border-color: transparent;

}
.mat-button{    
    outline: none;
   
}
// .mat-form-field-::-webkit-input-placeholder {
//     color: red;
   
// }
.edit{
    outline:none;
    border: transparent;
    border-color: transparent;
    
}
.mat-icon-button {
    outline: none;
}


