.Card{
    display: flex;
     background-color: white;

}
.mat-card:hover{
.icon_hover{
visibility: visible;
}
}

.icon_hover
{
visibility: hidden;
}

.matpad3{
    margin-top: 8px;
    margin-bottom: 8px;
border-radius: 8px;
border-color: transparent;  
outline: none;
background-color: white;
}
.matpad{
    margin-top: 11%;
    border-radius: 8px;
border-color: transparent;  
outline: none;
background-color: white;

}
.bold{
    word-wrap:break-word;
}
.light{
    word-wrap:break-word; 
}
.card_div{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

