/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@media (min-width:320px)
{
 .mat-card-title{
  
        color:#3e7ae6;
    
};
.mat-card{

    border-style:hidden;
}
:root {
    // overflow-y: hidden;
    // height: 20000vh;
    // max-width: 100vw;
    overflow-x: hidden;
    // background-color: white;
}

// <span style='color: red'>u</span>
// <span style='color: yellow'>n</span>
// <span style='color: blue'>d</span>
// <span style='color: green'>o</span>
// <span style='color: red'>o</span>
// <span style='color: blue'>N</span>
// <span style='color: red'>o</span>
// <span style='color: yellow'>t</span>
// <span style='color: blue'>e</span>
// <span style='color: green'>s</span>
}