
.Card{
    display: flex;
    background-color: white;

}
.mat-card{

    border-radius: 12px;
}
.mat-card:hover{
.icon_hover{
    visibility: visible;
}
}
.icon_hover
{
    visibility: hidden;
}
.matpad3{
    margin-top: 14px;
    width: 46vw;
    border-radius: 12px;
    border-color: transparent;  
    outline: none;
    background-color: white;

}
.matpad{
    max-width: 22vw;
    margin-top: 30px;
    border-radius: 12px;
    border-color: transparent;  
    outline: none;
    background-color: white;
}
.bold{
    word-wrap:break-word;
}
.light{
    word-wrap:break-word; 
}
.img{
    width: 12px;
}

.mat-icon-button{
    outline: none;
    background-color:transparent;
}
.mat-card:hover{
    .pin{
    visibility: visible;
}
    .check-Mark{
    visibility: visible;
}}
.pin{
    visibility: hidden;
}
.check-Mark{ 
    margin-top: -42px;
    visibility: hidden;
}
.unCheck-Mark {
    margin-top: -42px;
}
.check-Mark img{
    margin: 8px 0px 0px -74px;

}
.unCheck-Mark img{
    margin: 8px 0px 0px -74px;
}

.check-Mark button:focus{
    color: transparent;
}
.unCheck-Mark  button:focus{
    color: transparent;
}

.isSelcted{
    border: 2px solid black;
}

.point{
    outline: none;
    border-color: transparent;
    background-color: transparent;
  
}

.titl{
    word-wrap:break-word;
    font-size: 20px;
}
.titl.thick {
    font-weight: bold;
}
.pinn{
    font-size: 13px;
    color: lightblack;
}
.que{
    font-size: 14px;
}
